@import "../../App.css";

.about {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: var(--color-pastel);
  color: var(--color-black);
  overflow: hidden;
  border-bottom: 2px solid var(--color-component);
    box-shadow: 3px 3px var(--color-component);
}

.content_container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 16px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* background: red; */
}

.about_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  border-radius: 12px !important;
}

.about_content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: 100%;
  max-height: 100%;
  padding: 32px 16px;
  overflow: hidden;
  /* background: red; */
}

.about_content_text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.tab_label {
  color: var(--color-primary) !important;
  font-size: 0.9rem !important;
  font-weight: bold !important;
}

.about_content_text_topic {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px 0;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.topic_content {
  height: 100%;
  overflow: hidden;
}

.topic_content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-grow: 1;
  overflow-y: auto;
}

.tabs_container {
  order: -1;
}

.about_actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 16px;
  width: 100%;
  padding: 16px;
}

.photo_section {
  position: relative;
  width: 100%;
  height: 100%;
  background: #d2d3e059;
  /* background-image: url(../../assets/img/character.png); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 16px;
  border-radius: 12px !important;
  /* box-shadow: 2px 2px 6px #00000015;
  border: 1px solid #b7b8c44a; */
  border: 2px solid var(--color-black);
  box-shadow: 3px 3px var(--color-black);
  overflow: hidden;
}

.photo_section_actions {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 16px;
  bottom: 16px;
  right: 16px;
  /* transform: translateX(-50%); */
  /* width: 94%; */
  padding: 4px 16px;
  border-radius: 80px;
  background: #ececec49;
  color: var(--color-black);
  border: 2px solid var(--color-black);
  box-shadow: 3px 3px var(--color-black);
  backdrop-filter: blur(12px);
  --webkit-bakdrop-filter: blur(12px);
}

.photo_section_actions:hover {
  background: #ececec;
  transition: 0.2s ease-in-out;
}

.skill_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 60%;
  height: 100%;
  padding: 0 32px 0 0;
  color: var(--color-black);
  border-radius: 12px !important;
}

.skill_section h4 {
  color: var(--color-black);
}

.skill_topic_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* gap: 16px; */
  width: 100%;
}

.skill_topic {
  display: flex;
  flex-direction: column;
  background: var(--color-secondary);
  width: 100%;
  padding: 16px;
  border-radius: 12px !important;
  color: var(--color-black);
  border: 2px solid var(--color-black);
  box-shadow: 3px 3px var(--color-black);
}

.topic_header {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  background: var(--color-primary);
  padding: 4px;
  border-radius: 8px !important;
  border: 2px solid var(--color-black);
  box-shadow: 2px 2px var(--color-black);
}
