@import "../../App.css";

.secondary_navbar_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: fit-content;
  background: var(--color-black);
  color: var(--color-white);
  padding: 4px 16px;
  border-radius: 100px;
  box-shadow: 2px 2px 6px #00000005;
  border: 1px solid #b7b8c44a;
}

.secondary_navbar_logo {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.secondary_navbar_links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 32px;
  /* width: 100%; */
}
