@import '../../App.css';

.home {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: var(--color-black);
    color: var(--color-white);
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 32px;
    font-size: 1.8rem;
}

.art {
    height: 100%;
    max-height: 100%;
    /* background: var(--color-primary); */
    /* background-'image: url(../../assets/img/bg2.jpg); */
    background-position: center;
    background-size: cover;
    padding: 32px;
}

.mouse_btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    font-size: 1.5rem;
    animation: float 1s ease-in-out infinite;
    color: var(--color-white);
}   

@keyframes float {
    25% {
        transform: translateY(-4px);
    }
    50% {
        transform: translateY(4px);
    }
    100% {
        transform: translateY(0px);
    }

}