@import '../../App.css';

.navbar_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    padding: 32px;
    color: var(--color-white);
    /* font-weight: 300; */
    font-size: 1rem;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 32px;
    width: 100%;
}