@import '../../App.css';

.projects {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: var(--color-black);
    color: var(--color-white);
    padding: 32px;
}

.projects_header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.projects_container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    /* background: red; */
    width: 100%;
    height: 100%;
}

.projects_content {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;
    height: 100%;
    /* background: blue; */
    padding: 16px;
}

.project_card {
    display: flex;
    flex-direction: column;
    background: red;
    width: 300px; 
    height: 200px;
    overflow: hidden;
}

.card_image {
    width: 100%;
    height: 150px; 
    overflow: hidden;
}

.card_image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


