@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import './colors.css'; 

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: #23272B;
  background-color: #D2D3E0;

  /* font-synthesis: none; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
  /*display: none;*/
}

::-webkit-scrollbar-track {
  background-color: var(--color-black);
}

::-webkit-scrollbar-thumb{
  background-color: var(--color-primary);
  border-radius: 20px;
}

::selection { 
  background: var(--primary-color); 
  color: var(--secondary-background-color); 
} 

::-moz-selection { 
  background: var(--primary-color); 
  color: var(--secondary-background-color); 
} 

a {
  all: unset;
}

body {
  overflow-x: hidden;
}

.page{
  display: flex;
  height: 100dvh;
  max-height: 100dvh;
  min-height: 100dvh;
  width: 100dvw;
  /* background: var(--color-black); */
  /* border: 2px solid red; */
  overflow: hidden;
}

.color {
  color: var(--color-primary);
}
