:root {
    --color-white: #D2D3E0;
    --color-grey: #cbccd8;
    --color-black: #060505;
    --color-primary: #00ccc0;
    --color-secondary: #8793fd;
    --color-light-secondary: #b7c8e9;
    --color-pastel: #FCF1E4;
    --color-component: #292A35;
    --color-border: #444556;
    --color-icon: #858699;
}