@import '../../App.css';

.custom_button {
  all: unset;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  background: var(--color-secondary);
  color: var(--color-black);
  border: 2px solid var(--color-black);
  box-shadow: 3px 3px var(--color-black);
  padding: 6px 32px;
  border-radius: 100px;
  font-weight: bold;
  cursor: pointer;
}

.custom_button:hover {
  background: var(--color-primary);
  /* color: var(--color-white); */
}
